mixin file-svg(className)
  svg(xmlns="http://www.w3.org/2000/svg", width="60", height="60", viewBox="0 0 60 60", fill="none")(class=className)
    path(d="M48 57H12C10.3432 57 9.00001 55.6568 9 54L9 6C9 4.34315 10.3431 3 12 3L34.6893 3C35.5249 3 36.3228 3.34858 36.8905 3.96178L50.2013 18.3374C50.7148 18.8919 51 19.6198 51 20.3756L51 54C51 55.6568 49.6569 57 48 57Z", stroke="#8ECCEF", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
    path(d="M51 21L36 21C34.3431 21 33 19.6569 33 18L33 3", stroke="#8ECCEF", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")

mixin download-svg(className)
  svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")(class=className)
    path(d="M6 21H18", stroke="#0B1226", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
    path(d="M12 3L12 17", stroke="#0B1226", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
    path(d="M17 12L12 17L7 12", stroke="#0B1226", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")

mixin left-arrow(className)
  svg(xmlns="http://www.w3.org/2000/svg", width="20", height="20", viewBox="0 0 20 20", fill="none")(class=className)
    path(d="M7.975 4.94165L2.91666 9.99999M2.91666 9.99999L7.975 15.0583M2.91666 9.99999L17.5 9.99999", stroke="#0B1226", stroke-width="2", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")

mixin right-arrow(className)
  svg(xmlns="http://www.w3.org/2000/svg", width="20", height="20", viewBox="0 0 20 20", fill="none")(class=className)
    path(d="M12.025 4.94168L17.0833 10M17.0833 10L12.025 15.0583M17.0833 10L2.5 10", stroke="white", stroke-width="2", stroke-miterlimit="10", stroke-linecap="round", stroke-linejoin="round")